* {
  margin: 0;
}
.divisions {
  background-image: url(../images/skybg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -300px;
  display: flex;
  flex-wrap: wrap-reverse;
  min-height: 80vh;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
}
.one {
  border: 1px solid red;
  display: inline;
}
.signup,
.login {
  border: 1px solid red;
  margin-bottom: 1rem;
  padding: 2rem;
}
